.footer { font-weight: bold; color: red; background-color: black; }
.sidecol { font-weight: bold; background-color: yellowgreen; }
.sidecol h2 { font-weight: bold; }
.midcol h1 { margin-top: 2em; text-align: center; font-weight: bold; }
.midcol h3 { text-align: center; color: black; }
