@(pagename: String, user:models.users.User)(content: Html)

@import helper._ 

<!DOCTYPE html>
<html>
<div class="container-fluid">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="jquery-3.3.1.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<img src="@routes.Assets.versioned("images/whiskey.jpg")" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
		<title>Ceannt Uisce Beatha</title>
	</head>
	<body>
	
		<!--- this is the main body text decoration --->
<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('menu').style.display='block'" class="w3-button w3-black">Shop</button></p>
    @if(user == null) {<button onclick=<li @if(pagename=="Login") {class="active"}><a href='/login'>Login</a></li></button>
}else {
									<a href="@routes.LoginController.logout()">Log Out</a>
								}
  <main>
	@content	
  </main>
</div>
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge">Welcome to Ceannt Uisce Beatha</p>
    <p class="w3-large">Please remember to log into your account to make a bid.</p>
	<p><em>Copyright &copy of Ceannt Uisce Beatha</em></p>
  </div>
</div>
<!--- This is a pop up with our links --->
<div id="menu" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Ceannt Uisce Beatha</h1>
    </div>
    <div id="links" class="w3-container">
        <li @if(pagename=="Home") {class="active"}><a href="/">Home</a></li>
		<li @if(pagename=="Onsale") {class="active"}><a href="/onsale">Onsale</a></li>
		<li @if(pagename=="RegisterUser") {class="active"}><a href="/registerUser">Register</a></li>
		<li @if(pagename=="Customers") {class="active"}><a href="/customers">Users</a></li>
		<li @if(pagename=="Admins") {class="active"}><a href="/admin">Admins</a></li>
		<li @if(pagename=="Shopping Basket") {class="active"}><a href="/showBasket">Shopping Basket</a></li>
    </div>
  </div>
</div>
<!--- This is our button link to take us to the login page --->				
					
	</body>
</div>
</html>